// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

// Variables
//@import 'variables';

@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.css';

.group {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

// Slider CSS
.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
}


//:root {
//    --ck-text-color: #101010 !important;
//    --ck-color-base-foreground: #121212 !important;
//    --ck-color-base-border: #000000 !important;
//    --ck-color-text: #fff !important;
//    --ck-color-button-default-hover-background: #525252 !important;
//    --ck-color-button-on-hover-background: #525252 !important;
//    --ck-color-button-on-background: #525252 !important;
//    --ck-color-button-default-active-background: #525252 !important;
//}

.ck-editor {
    color: var(--ck-text-color);
}
